@charset "utf-8";
/* CSS Document */
@media screen and (max-width:640px){

.menu{
    display: none;
	}
/*----ハンバーガー----*/
	.menu-btn{
    position: fixed;
    top:5px;
    right: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content:center;
    align-items: center;
    z-index: 90;
    cursor: pointer;
	}
	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after{
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color:#ff7400;
    position: absolute;
	}
	.menu-btn span:before{
    bottom:8px;
	}
	.menu-btn span:after{
    top:8px;
	}
	#menu-btn-check:checked ~ .menu-btn span{
    background-color: rgba(255, 255, 255, 0);
	}
	#menu-btn-check:checked ~ .menu-btn span::before{
  bottom:0;
  transform: rotate(45deg);
	}
	#menu-btn-check:checked ~ .menu-btn span::after{
    top:0;
    transform: rotate(-45deg);
	}
	#menu-btn-check{
    display: none;
	}
	.menu-content{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 100%;
    z-index: 80;
    background-color: #fafaf2;
    transition: all 0.5s;
}
.menu-content ul{
    padding: 70px 10px 0;
	}
.menu-content ul li {
    border-bottom: solid 1px #ff7400;
    list-style: none;
	}
.menu-content ul li a{
    display: block;
    width: 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: #372c01;
    text-decoration: none;
    padding: 9px 15px 10px 0;
		position: relative;
	}
/*----ヘッダーー----*/
  p,a,h1,h2{
    color: #372c01;
    font-weight: bold;
  }

body{
    line-height: 1.5;
    width: 100%;
    background: #feffd7;
}
.logo{
    width: 100%;
    height: 54px;
    background: white;
    position: fixed;
    z-index: 10;
    opacity: 0.9;
    top:0;
  }
.logo img{
    display: block;
    width: 220px;
    height: auto;
    padding: 10px 10px;
    resize: none;
    opacity: 1;
    background-size: 160px 160px;
  }
#siryou{
    background-image: url(../images/siryou.png);
    height: 130px;
    width:100px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    float: right;
    position: fixed;
    z-index: 50;
    top:56px;
    right: 1px;
}
#main{
    height: 200px;
    width: 100%;
    background-image: url("../images/main_sp.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
     margin-top: 52px;
  }
#course_nav{
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 0.7rem;
  }
.course img{
    width: 90%;
    display: block;
    margin: 10px auto;
    padding-bottom: 10px;
  }
.course h1{
    text-align: center;
    background: #ff7400;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 10px;
    color: #fff;
    padding: 10px 0;
  }
  .course h2{
    font-size: 1rem;
    margin-bottom: 30px;
  }
.course div{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-bottom: 100px;
  }
  .course p{
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 3;
  }
  .course a{
    margin-bottom: 50px;
    background: #ffcc00;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
  }
  .course a:hover{
    background: #fff;
    color: #ffcc00;
    border: solid #ffcc00;
    padding: 8px 17px;
  }
  .test5{
    color: #372c01;
    background: #ffcc00;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    margin:50px 0px;
}
.test5::before{
    content: "-";
    color:#ff7400;
}
.test5::after{
    content: "-";
    color:#ff7400;
}
  #main9{
    width: 90%;
    height: 450px;
    margin: 0 auto;
}
.mail p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 2;
    font-size: 0.8rem;
    font-weight: bold;
}
    .cat{
    width: 100%;
  }
  .mail ul{
    display: flex;
    justify-content: space-around;
  }
  /*----フッター----*/

#bbb{
    width: 93%;
    font-size: 0.3rem;
    background: #fafaf2;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 2;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center
	}
  #bbb a{
    font-size: 0.8rem;
  }
#bbb a::before{
    content: "- ";
    color: #ff7400;
	}
footer ul{
    padding:  0;
  }
footer h1{
    font-size: 1rem;
  }
#footer3,#footer5{
    width: 224px;
    margin-top: 20px;
  }

.foot_logo img{
    display: block;
    width: 200px;
    margin: 30px auto 0;
  }
.foot_logo p{
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }
}